/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */


@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}


$accentColor = #aaa
$textColor = white
$borderColor = #555
$codeBgColor = #282c34
$contentWidth = 100%
$bgColor = #0A0B09
$Rubik = 'Rubik', sans-serif
